.sweets, .salty{
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 12px 12px 5px lightgray;
    text-align: center;
    background-color: white;
    transition: transform 0.2s ease;
}

#sweet, #salt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
@media (max-width: 800px) {
    #sweet, #salt {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    #sweet, #salt {
        grid-template-columns: repeat(1, 1fr);
    }
}
h1, h2{
    text-align: center;
}
body{
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sweets:hover, .salty:hover{
    transform: translateY(-8px);
}